{% extends 'base.html.twig' %}

{% block title %}Dashboard Participant{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Bienvenue dans votre espace participant</h1>
        <p class="lead">Accédez ici à vos événements, messages et notifications.</p>
    </div>
{% endblock %}
