{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <h1>Tableau de bord Administrateur</h1>
    <a href="{{ path('admin_users_list') }}">Gérer les utilisateurs</a>
{% endblock %}
