{# templates/emails/invitation.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Invitation</title>
</head>
<body>
    <h1>Bonjour {{ invitation.name }}!</h1>
    
    <p>Vous avez été invité à participer à un événement.</p>
    
    <p>Veuillez cliquer sur l'un des liens ci-dessous pour répondre :</p>
    
    <p>
        <a href="{{ absolute_url(path('invitation_respond', {'token': invitation.token, 'response': 'accepted'})) }}">J'accepte</a>
        |
        <a href="{{ absolute_url(path('invitation_respond', {'token': invitation.token, 'response': 'declined'})) }}">Je décline</a>
    </p>
</body>
</html>