{# templates/organisateur/dashboard.html.twig #}
    <!-- Bouton de déconnexion -->
    <form action="{{ path('app_logout') }}" method="post">
        <button type="submit" class="btn btn-danger">Déconnexion</button>
    </form>
<h1>Bienvenue sur le tableau de bord des organisateurs</h1>
<p>Seulement accessible aux organisateurs.</p>
